a:link{
    text-decoration: none;
}

.logo2 {
    width: 90%;
    max-width: 700px;
    margin: 60px auto 30px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
    background-color: #FEF9EF;
    border-radius: 25px;
}

.logo2 img {
    width: 450px;
    max-width: 100%;
    height: auto;
}

.logo1 img{
    width:50vw;
    height:auto;
    max-width: 50%;
}

/* Zvaigznes lai uzliktu rating */
.star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2rem;
}

.star-rating input{
    display:none;
}

.star-rating label{
    font-size: 3.5rem;
    color:#c9c6c2;
    cursor:pointer
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label{
    color:#FE6D73;
}

/* bootstrap uzlabojumi */

.navbar .container-fluid {
    padding-left: 0;
}

.navbar {
    min-height: 80px;
    padding: 15px 15px;
    background-color: #FEF9EF;
    z-index: 1000;
    position: relative;
}

.logo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-toggler{
    border:none;
    color:#FE6D73;
}

#navbarMenu .nav-link{
    font-family: 'Lora';
    font-size: 22px;
}

#navbarMenu .nav-link:hover {
    background-color: #FE6D73;
    color: #FEF9EF;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Pati lapa */
body {
    background-color: #FFCB77;
    font-family: 'Lora', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #227C9D;
}

.text-outline {
    color: #227C9D;
    text-shadow:
        2px 0 0 #FEF9EF,
       -2px 0 0 #FEF9EF,
        0 2px 0 #FEF9EF,
        0 -2px 0 #FEF9EF,
        2px 2px 0 #FEF9EF,
       -2px 2px 0 #FEF9EF,
        2px -2px 0 #FEF9EF,
       -2px -2px 0 #FEF9EF;
}

h2 {
    font-size: 3em;
    color: #227C9D;
    margin-top: 40px;
}

form {
    margin: 20px auto 40px;
}

select {
    border: 2px solid #FE6D73;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: #FEF9EF;
    color: #FE6D73;
    font-size: 1.5em;
    appearance: none;
}

button[type="submit"] {
    background-color: #FE6D73;
    color: #FEF9EF;
    border: none;
    border-radius: 20px;
    padding: 8px 18px;
    margin-left: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #FE6D73;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}

tr {
    background-color: #FEF9EF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 25px;
    text-align: left;
    gap: 20px;
}

td img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    background-color: #227C9D;
}

.starstar{
    color:#FE6D73;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-cell {
    margin-left: auto;  
    padding: 1rem;
    border-radius: 10px;
    background-color: #FFCB77;
}

.subtitle {
    margin-top: -15px;
    margin-left:150px;
    font-size: 1.4em;
    color: #FE6D73;
}

.rate-card {
    background-color: #FEF9EF;
    width: 90%;
    max-width: 420px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
}

.rate-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #227C9D;
}

.food-title {
    font-size: 1.8em;
    color: #227C9D;
}

.rate-card .star-rating {
    justify-content: center;
    margin: 20px 0;
    line-height: 1;        
}

.rate-card form {
    margin: 0;
    padding: 0;
}

.rate-btn {
    font-size: 1.4em;
    padding: 10px 30px;
    background-color: #17C3B2 !important;
    color:#FFCB77 !important;
}

/* SIGN IN LAPA */

.sign-card {
    background-color: #FEF9EF;
    width: 90%;
    max-width: 500px;
    margin: 60px auto;
    padding: 50px 40px;
    border-radius: 30px;
}

.signin-title {
    font-size: 3em;
    margin-bottom: 40px;
    color: #227C9D;
}

.sign-card input {
    width: 100%;
    padding: 18px 25px;
    margin-bottom: 25px;
    border-radius: 40px;
    border: 4px solid #FE6D73;
    background-color: #FEF9EF;
    font-size: 1.3em;
}

.sign-card .signin-btn {
    width: 100%;
    padding: 22px;
    border-radius: 40px;
    font-size: 1.5em;
    margin-top: 20px;
    background-color: #FE6D73;
    color: #FFCB77;
}

.error {
    margin-top: 15px;
    color: #FE6D73;
    font-weight: bold;
}

.sign-card input::placeholder{
    color:#FFCB77;
}

/* STATS LAPA */

.stats-page {
    max-width: 900px;
}

.section-title {
    font-size: 3em;
    margin: 50px 0 20px;
}

.stats-card {
    background-color: #FEF9EF;
    padding: 40px;
    border-radius: 30px;
    margin: 30px auto;
}

.card-title-custom {
    color: #FE6D73;
    font-size: 1.8em;
    margin-bottom: 30px;
}

.food-row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.food-row img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    background-color: #227C9D;
}

.food-name {
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    color: #17C3B2;
}

.stars {
    text-align: left;
    font-size: 1.6em;
    margin-top: 8px;
}

.country-block {
    text-align: left;
    margin-top: 15px;
}

.country-name {
    font-size: 2.5em;
    font-weight: bold;
    color: #17C3B2;
    letter-spacing: 2px;
}

.avg-text {
    color: #227C9D;
    font-size: 1.3em;
    margin: 10px 0;
}
